* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-azul: #004AAD;
    --clr-rosa: #FF66C4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-redes {
    text-align: end;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

.wrap{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.3fr ;
}

footer {
    background-color: var(--clr-azul);
    font-size: 25px;
    text-align: center;
    padding: 0px 25px;
}
.navbar{
    position: sticky;
    top: 0;
}
header{
    background-color:var(--clr-azul);
    color: whitesmoke;
}

.nav-link:hover{
    border-radius: 5px;
    background-color: var(--clr-rosa);
    color: whitesmoke;
}
.txt-header {
    color: whitesmoke;
    font-size:25px;
}

main{
    background-color: var(--clr-rosa);
}

.card{
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    background:#fff;
    color: black;
}

.card-img {
    width: 10rem;
    padding: 5px;
    justify-content: center;
    align-self: center;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 1rem;
    width: 100vw;
}

.producto-info {
    display: flex;
    flex-direction: column;
    gap: .40rem;
}

.btn-comprar {
    font-size: 1rem;
    background-color: var(--clr-azul);
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
}

.btn-comprar:hover {
    background-color: var(--clr-rosa);
    color: whitesmoke;
}

.titulo-principal {
    color: var(--clr-azul);
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}

.contenedor-carrito {
    text-align: center;
    color: var(--clr-azul);
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}


.carrito-productos {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.carrito-acciones {
    background-color: var(--clr-azul);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.carrito-acciones-derecha {
    display: flex;
}

.carrito-total {
    width: 6rem;
    background-color:var(--clr-rosa);
    color: black;
    margin: auto 50px;
    border-radius: 10px;
} 
.disabled {
    display: none;
}

.carrito-vaciar, .carrito-comprar {
    font-size: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px auto;
}

.carrito-vaciar:hover, .carrito-comprar:hover {
    background-color: var(--clr-rosa);
    color: whitesmoke;
}